extends ../layout 

block contenido
    .content-wrapper
        // Content Header (Page header)
        .content-header
          .container-fluid
            .row.mb-2
              .col-sm-6
                h1.m-0 Dashboard
              // /.col
            // /.row
          // /.container-fluid
        // /.content-header
        // Main content
        section.content
          .container-fluid
            // Small boxes (Stat box)
            .row
              .col-lg-3.col-6
                // small box
                .small-box.bg-info
                  .inner
                    h3 32
                    p Colaboradores
                  .icon
                    i.ion.ion-bag
                  a.small-box-footer(href="#") Mas info 
                    i.fas.fa-arrow-circle-right
              // ./col
              .col-lg-3.col-6
                // small box
                .small-box.bg-success
                  .inner
                    h3 54 
                      sup(style="font-size: 20px")
                    p Reservas por confirmar
                  .icon
                    i.ion.ion-stats-bars
                  a.small-box-footer(href="#") Mas info 
                    i.fas.fa-arrow-circle-right
              // ./col
              .col-lg-3.col-6
                // small box
                .small-box.bg-warning
                  .inner
                    h3 $55,120,322
                    p Ventas del mes
                  .icon
                    i.ion.ion-person-add
                  a.small-box-footer(href="#") More info 
                    i.fas.fa-arrow-circle-right
              // ./col
              .col-lg-3.col-6
                // small box
                .small-box.bg-danger
                  .inner
                    h3 $12,564,234
                    p Saldo Bancario
                  .icon
                    i.ion.ion-pie-graph
                  a.small-box-footer(href="#") More info 
                    i.fas.fa-arrow-circle-right
          .card
            .card-header.border-0
              h3.card-title Products
              .card-tools
                a.btn.btn-tool.btn-sm(href="#")
                  i.fas.fa-download
                a.btn.btn-tool.btn-sm(href="#")
                  i.fas.fa-bars
            .card-body.table-responsive.p-0
              table.table.table-striped.table-valign-middle
                thead
                  tr
                    th Product
                    th Price
                    th Sales
                    th More
                tbody
                  tr
                    td
                      img.img-circle.img-size-32.mr-2(src="dist/img/default-150x150.png", alt="Product 1")
                      | Some Product
                    td $13 USD
                    td
                      small.text-success.mr-1
                        i.fas.fa-arrow-up
                        | 12%
                      | 12,000 Sold
                    td
                      a.text-muted(href="#")
                        i.fas.fa-search
                  tr
                    td
                      img.img-circle.img-size-32.mr-2(src="dist/img/default-150x150.png", alt="Product 1")
                      | Another Product
                    td $29 USD
                    td
                      small.text-warning.mr-1
                        i.fas.fa-arrow-down
                        | 0.5%
                      | 123,234 Sold
                    td
                      a.text-muted(href="#")
                        i.fas.fa-search
                  tr
                    td
                      img.img-circle.img-size-32.mr-2(src="dist/img/default-150x150.png", alt="Product 1")
                      | Amazing Product
                    td $1,230 USD
                    td
                      small.text-danger.mr-1
                        i.fas.fa-arrow-down
                        | 3%
                      | 198 Sold
                    td
                      a.text-muted(href="#")
                        i.fas.fa-search
                  tr
                    td
                      img.img-circle.img-size-32.mr-2(src="dist/img/default-150x150.png", alt="Product 1")
                      | Perfect Item
                      span.badge.bg-danger NEW
                    td $199 USD
                    td
                      small.text-success.mr-1
                        i.fas.fa-arrow-up
                        | 63%
                      | 87 Sold
                    td
                      a.text-muted(href="#")
                        i.fas.fa-search
