extends layout 

block content
    .container.mt-4
      h1.text-center Dashboard

    #product-details-container.mt-4

    script.
      $(document).ready(function() {
        // Inicializar la tabla DataTable para habilitar la ordenación
        $('#productosTabla').DataTable();

        $('.view-details').click(function(e) {
          e.preventDefault();
          var productId = $(this).data('id');
          
          $.get('/producto/' + productId, function(data) {
            var detailsHtml = `
              <div class="card">
                <div class="card-header">Detalles del Producto</div>
                <div class="card-body">
                  <p><strong>Nombre del Producto:</strong> ${data.nombre}</p>
                  <p><strong>Cantidad en Inventario:</strong> ${data.cantidad}</p>
                  <p><strong>Proveedor:</strong> ${data.proveedor}</p>
                  <p><strong>Stock Mínimo:</strong> ${data.stockMinimo}</p>
                </div>
              </div>`;
            $('#product-details-container').html(detailsHtml);
          }).fail(function() {
            alert('Error al cargar detalles del producto');
          });
        });
      });

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
