:root {
    --color_1:#320606;
    --color_2:#ac0d0d;
    --color_3:#ac8d49;
    --color_4:#dde29f;
    --color_5:#a2c7bb;
    --font_color: black;
}

.main-sidebar{
    background-color: var(--color_3);
    color: var(--font_color)
}
.main-sidebar .nav-link {
    background-color: var(--color_4);
    color: var(--font_color);
}

.main-header {
    background-color: var(--color_3);
    color: var(--font_color);
}
.main-header .navbar {
    background-color: blue;
    color: blue;
}

.active {
    background-color: var(--color_2);
    color: var(--font_color);
    
}