doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Software Management - Inicio
    link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css') 
    link(rel='stylesheet' href='/dist/css/adminlte.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/plugins/jquery/jquery.min.js')
    script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/dist/js/adminlte.misn.js')

  body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      .container
        a.navbar-brand(href='/')
          img(src='/img/logo.png' alt='Logo' width='160')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.mb-1
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.btn.btn-info.btn-lg.text-white.px-2.m-1(href='/autenticacion/login') Iniciar Sesión
            li.nav-item
              a.nav-link.btn.btn-info.btn-lg.text-white.px-2.m-1(href='/autenticacion/signup') Prueba Gratis


    .container-fluid.hero-section
      .row
        .col-12
          .hero-content.text-center
            h1.text-white Bienvenido a Grimu
            p.lead.text-white El software más eficiente para la gestión de tu restaurante.


    .mt-5
      .container
        .row
          // Columna izquierda para otro contenido
          .col-md-6
            h2.text-center.text-info Conócenos
            p Sabemos lo que tu restaurant necesita para brindar un mejor servicio y queremos ayudarte a lograrlo.
            

          // Columna derecha con el formulario de registro
          .col-md-6
            .card.card-info
              .card-header
                h3.card-title Registro
              .card-body
                form(action="/autenticacion/signup" method="POST")
                    input(type="hidden", name="_csrf", value=csrfToken)
                    .input-group.mb-3
                      input.form-control(type="text", placeholder="Nombre", name="nombre")
                      .input-group-append
                        .input-group-text
                          span.fas.fa-user
                    .input-group.mb-3
                      input.form-control(type="text", placeholder="Empresa", name="empresa")
                      .input-group-append
                        .input-group-text
                          span.fas.fa-user                  
                    .input-group.mb-3
                      input.form-control(type="email", placeholder="Correo electrónico", name="email")
                      .input-group-append
                        .input-group-text
                          span.fas.fa-envelope
                    .input-group.mb-3
                      input.form-control(type="password", placeholder="Contraseña", name="password") 
                      .input-group-append
                        .input-group-text
                          span.fas.fa-lock
                    .input-group.mb-3
                      input.form-control(type="password", placeholder="Repetir contraseña", name="password2")
                      .input-group-append
                        .input-group-text
                          span.fas.fa-lock
                    .row.justify-content-center
                      .col-6
                      button.btn.btn-info.btn-block(type="submit") Registrar Cuenta
        .row
          .col-12
            h2.text-center.text-info.m-3 Funcionalidades
        .row.m-5
            // Columna izquierda para otro contenido
            .col-md-6
              h2.text-center.text-info Finanzas
              p Controla tus finanzas
              p Conciliación bancaria 
              p Reportes financieros automáticos
            .col-md-6
              img(src='/img/finanzas.jpg' alt='Gestión de Proveedores' class='img-fluid' width='400')
              

        .row.m-5
            // Columna izquierda para otro contenido
            .col-md-6
              img(src='/img/proveedores.jpg' alt='Gestión de Proveedores' class='img-fluid' width='400')
              
            .col-md-6
              h2.text-center.text-info Gestión de Proveedores
              p Lleva un control de los proveedores
              p Mejora la eficiencia de tus compras
              p Realiza pedidos de manera sencilla
              p Historial de precios

        .row.m-5
            // Columna izquierda para otro contenido
            .col-md-6
              h2.text-center.text-info Recursos Humanos
              p Lleva un control de tus empleados
              p Realiza evaluaciones de desempeño
              p Gestiona las vacaciones
              p Controla los permisos
            .col-md-6
              img(src='/img/personal.jpg' alt='Gestión de Proveedores' class='img-fluid' width='400')
              

        .row.m-5
            // Columna izquierda para otro contenido
            .col-md-6
              img(src='/img/inventario.jpg' alt='Gestión de Proveedores' class='img-fluid' width='400')
              
            .col-md-6
              h2.text-center.text-info Gestión de Inventario
              p Lleva un control de tu inventario
              p Realiza inventarios físicos
              p Controla las existencias
              p Gestiona los niveles de stock y alertas

        .row.m-5
          .col-12
            h2.text-center.text-info.m-3 Precios

        .row.m-5
          .col-md-4
            .card
              .card-header.bg-secondary.text-white.text-center
                h3 Básico
                    .card-body
                h4.text-center $5.900/mes
                ul
                  p Hasta 10 usuarios
                  p Soporte básico
                  p Acceso a todas las funcionalidades
                .text-center
                  a.btn.btn-info(href='/comprar/basico') Comprar

          .col-md-4
            .card
              .card-header.bg-secondary.text-white.text-center
                h3 Estándar
                    .card-body
                h4.text-center $14.900/mes
                ul
                  p Hasta 50 usuarios
                  p Soporte prioritario
                  p Acceso a todas las funcionalidades
                .text-center
                  a.btn.btn-info(href='/comprar/estandar') Comprar

          .col-md-4
            .card
              .card-header.bg-secondary.text-white.text-center
                h3 Premium
                    .card-body
                h4.text-center $19.900/mes
                ul
                  p Usuarios ilimitados
                  p Soporte 24/7
                  p Acceso a todas las funcionalidades
                .text-center
                  a.btn.btn-info(href='/comprar/premium') Comprar


    footer.bg-dark.text-white.mt-5
      .container
        .row
          // Columna izquierda
          .col-md-6.mt-4
            h5 Enlaces Internos
            ul.list-unstyled
              li
                a.text-white(href='#') Nosotros
              li
                a.text-white(href='#') Política de Privacidad
              li
                a.text-white(href='#') Términos y Condiciones
              li
                a.text-white(href='#') Contacto
              li
                a.text-white(href='#') Tutoriales

          // Columna derecha (redes sociales)
          .col-md-6.mt-4
            h5 Escribemos al correo electrónico: 
            a(href='mailto:contacto@grimu.online').text-white contacto@grimu.online
            h5.mt-2 Llámanos al:
            a(href='tel:+56912345678').text-white +56 9 1234 5678
            
            h5.mt-2 Síguenos en Redes Sociales
            p Mantente conectado con nosotros en nuestras redes sociales.
            ul.list-inline
              li.list-inline-item
                a(href='https://facebook.com' target='_blank').text-white
                  i.fab.fa-facebook.fa-2x
              li.list-inline-item
                a(href='https://twitter.com' target='_blank').text-white
                  i.fab.fa-twitter.fa-2x
              li.list-inline-item
                a(href='https://linkedin.com' target='_blank').text-white
                  i.fab.fa-linkedin.fa-2x
              li.list-inline-item
                a(href='https://instagram.com' target='_blank').text-white
                  i.fab.fa-instagram.fa-2x
              li.list-inline-item
                a(href='https://x.com' target='_blank').text-white
                  i.fab.fa-x-twitter.fa-2x

      .text-center.py-3
        p &copy; 2024 Grimu. Todos los derechos reservados.

    script