doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name="csrf-token" content=csrfToken)
  title Grimu

  // Google Font: Source Sans Pro
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback')
  // Font Awesome Icons
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  // overlayScrollbars
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/css/OverlayScrollbars.min.css')
  // AdminLTE Theme style
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/css/adminlte.min.css')
  // DataTables Styles (integración con AdminLTE)
  link(rel='stylesheet' href='https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet' href='https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css')
  link(rel='stylesheet' href='https://cdn.datatables.net/buttons/1.6.5/css/buttons.bootstrap4.min.css')


  //- // Font Awesome Icons
  //- link(rel='stylesheet' href='/plugins/fontawesome-free/css/all.min.css')
  //- // overlayScrollbars
  //- link(rel='stylesheet' href='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')
  //- // AdminLTE Theme style
  //- link(rel='stylesheet' href='/dist/css/adminlte.min.css')
  //- // DataTables Styles (integración con AdminLTE)
  //- link(rel='stylesheet' href='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
  //- link(rel='stylesheet' href='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
  //- link(rel='stylesheet' href='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')

.wrapper
  nav.main-header.navbar.navbar-expand.navbar-dark
    ul.navbar-nav
      li.nav-item
        a.nav-link(data-widget='pushmenu' href='#' role='button')
          i.fas.fa-bars

    ul.navbar-nav.ml-auto
      li.nav-item.dropdown
        a.nav-link(data-toggle='dropdown' href='#')
          i.fas.fa-bell
          span.badge.badge-warning.navbar-badge 3
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
          a.dropdown-item(href='#')
            i.fas.fa-file.mr-2
            |  Contratos
            span.float-right.text-muted.text-sm 1
          a.dropdown-item(href='#')
            i.fas.fa-file.mr-2
            |  Liquidaciones
            span.float-right.text-muted.text-sm 1
          a.dropdown-item(href='#')
            i.fas.fa-file.mr-2
            |  Reservas
            span.float-right.text-muted.text-sm 1
          a.dropdown-item.dropdown-footer(href='#') Ver todas las notificaciones
      li.nav-item
        a.nav-link(href='/autenticacion/logout') Salir
  aside.main-sidebar.sidebar-dark-primary.elevation-4
    a(href="/dashboard") 
      img.brand-image(src="/img/logo.png", alt="Logo", style="opacity: .8; width: 60%; display: block; margin: 0 auto; filter: brightness(0) invert(1);")

    .sidebar
      .user-panel.mt-2.pb-2.mb-3.d-flex
      div.text-center
        p.text-white.text-center.font-d= locals.nombre
        //p.text-white.text-center.font-d= locals.empresa

      nav.mt-2
        ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
          li.nav-item.mt-2.disabled(class= typeof pagina_activa !== 'undefined' && ['mesas','caja','productos_a_la_venta', 'cliente'].includes(pagina_activa) ? 'menu-open' : '')
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-cash-register
              p
                | Mi Negocio
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'mesas' ? 'active' : '', href="#")
                  p Mesas
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'caja' ? 'active' : '', href="#")
                  p Caja
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'productos_a_la_venta' ? 'active' : '', href="#")
                  p Productos
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'clientes' ? 'active' : '', href="#")
                  p Clientes
          li.nav-item.mt-2.menu-open(class= typeof pagina_activa !== 'undefined' && ['banco', 'facturas_emitidas','facturas_recibidas','clientes', 'precios','proveedores'].includes(pagina_activa) ? 'menu-open' : '')
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-dollar-sign
              p
              | Finanzas
              i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              if locals.permisos === 'propietario'
                li.nav-item
                  a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'banco' ? 'active' : '', href="/finanzas/movimientos_bancarios")
                    p Bancos
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'facturas_emitidas' ? 'active' : '', href="/finanzas/facturas_emitidas")
                  p Facturas Emitidas

              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'facturas_recibidas' ? 'active' : '', href="/finanzas/facturas_recibidas")
                  p Facturas Recibidas
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'clientes' ? 'active' : '', href="/finanzas/clientes")
                  p Clientes
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'proveedores' ? 'active' : '', href="/finanzas/proveedores")
                  p Proveedores
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'precios' ? 'active' : '', href="/finanzas/precios")
                  p Precios
          li.nav-item.mt-2.menu-open(class= typeof pagina_activa !== 'undefined' && ['lista_inventario', 'productos','ingresos_inventario','salidas_inventario', 'pedidos'].includes(pagina_activa) ? 'menu-open' : '')
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-boxes
              p
                | Inventarios
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'lista_inventario' ? 'active' : '', href='/inventario/lista_inventario')
                  p Lista de Inventario
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'productos' ? 'active' : '', href='/inventario/productos')
                  p Productos
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'ingresos_inventario' ? 'active' : '', href='/inventario/ingresos')
                  p Ingresos
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'salidas_inventario' ? 'active' : '', href='/inventario/salidas')
                  p Salidas
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'pedidos' ? 'active' : '', href='/inventario/pedidos')
                  p Consejos IA
          li.nav-item.mt-2.menu-open(class= typeof pagina_activa !== 'undefined' && ['colaboradores', 'liquidaciones','comite_paritario','personal_antiguo', 'control_asistencia'].includes(pagina_activa) ? 'menu-open' : '')
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-users-cog
              p
                | Recursos Humanos
                i.right.fas.fa-angle-left
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'colaboradores' ? 'active' : '', href="/recursos_humanos/colaboradores")
                  p Colaboradores
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'liquidaciones' ? 'active' : '', href="/recursos_humanos/liquidaciones")
                  p Liquidaciones
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'comite_paritario' ? 'active' : '', href="/recursos_humanos/comite_paritario")
                  p Comite Paritario
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'personal_antiguo' ? 'active' : '', href="/recursos_humanos/personal_antiguo")
                  p Personal Antiguo
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'control_asistencia' ? 'active' : '', href="/recursos_humanos/control_asistencia")
                  p Control Asistencia

          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px; disabled")
              i.nav-icon.fas.fa-bookmark
              p
                | Reservas
                i.fas
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-laptop-code
              p
                | Sitio Web
                i.fas  
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-file-alt
              p
                | Informes
                i.fas   
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-calendar-day
              p
                | Agenda
                i.fas   
          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-chart-pie
              p
                | Proyecciones
                i.fas      
          li.nav-item.mt-2(class= typeof pagina_activa !== 'undefined' && ['configuracion_usuarios', 'configuracion_bancos', 'configuracion_dashboard'].includes(pagina_activa) ? 'menu-open' : '')
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-boxes
              p
                | Configuraciones
                i.fas.fa-angle-left.right
            ul.nav.nav-treeview
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'configuracion_usuarios' ? 'active' : '', href='/configuraciones/usuarios')
                  p Usuarios
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'configuracion_dashboard' ? 'active' : '', href='#')
                  p Dashboard
              li.nav-item
                a.nav-link(class= typeof pagina_activa !== 'undefined' && pagina_activa === 'configuracion_bancos' ? 'active' : '', href='/configuraciones/bancos')
                  p Bancos

          li.nav-item.mt-2
            a.nav-link(href='#', style="border: 1px solid #ccc; padding: 5px; border-radius: 5px;")
              i.nav-icon.fas.fa-edit
              p
                | Notificaciones
                i.fas  
    // sidebar
  block contenido
//- // Scripts requeridos
//- // jQuery
//- script(src='/plugins/jquery/jquery.min.js')
//- // Bootstrap
//- script(src='/plugins/bootstrap/js/bootstrap.bundle.min.js')
//- // overlayScrollbars
//- script(src='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')
//- // DataTables Scripts
//- script(src='/plugins/datatables/jquery.dataTables.min.js')
//- script(src='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
//- script(src='/plugins/datatables-responsive/js/dataTables.responsive.min.js')
//- script(src='/plugins/datatables-buttons/js/dataTables.buttons.min.js')
//- // AdminLTE App
//- script(src='/dist/js/adminlte.js')

// Scripts requeridos
// jQuery
script(src='https://code.jquery.com/jquery-3.6.0.min.js')
// Bootstrap
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js')
// overlayScrollbars
script(src='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.1/js/jquery.overlayScrollbars.min.js')
// DataTables Scripts
script(src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js')
script(src='https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js')
// AdminLTE App
script(src='https://cdn.jsdelivr.net/npm/admin-lte@3.1.0/dist/js/adminlte.min.js')